<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406213593729-h5qkslcgughdbsrv4hvdduq5k7u4rhth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406213593729-h5qkslcgughdbsrv4hvdduq5k7u4rhth</string>
	<key>API_KEY</key>
	<string>AIzaSyAdd2iSSiQrN1ZV_89AgxEaaiFhWdqfi1M</string>
	<key>GCM_SENDER_ID</key>
	<string>406213593729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-app-67386</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-67386.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406213593729:ios:802fa958fcc8a371351b80</string>
</dict>
</plist>